n8n_workflow.json
{
  "name": "AI Chat Widget with Automated Message Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "0e5342aa-a658-4217-8b0e-7cdbccb4d1d7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        560,
        16
      ],
      "webhookId": "847e6e61-c790-4b7b-9d4d-9d59a420e1e9"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a2bbb206-3a47-496f-b94e-e654ad1c82f3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        16
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful AI assistant for a chat widget. Be friendly, concise, and helpful. You have access to a Google Sheets database to look up information when needed."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        840,
        16
      ],
      "id": "943dece5-5ebc-474a-a2e7-643349bd263b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        752,
        224
      ],
      "id": "b77c03e9-89c0-480b-a974-9fb66e21fb56",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "XseMCsyeZX53fdSi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        912,
        240
      ],
      "id": "cac4c771-2d4e-4cff-8fd0-669b46bfba21",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10FjN6_aBbhYpSMzHsE1hjHvM6m1XDeOdQxc3NJSVneA",
          "mode": "list",
          "cachedResultName": "Coalrr Tech",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FjN6_aBbhYpSMzHsE1hjHvM6m1XDeOdQxc3NJSVneA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 683172409,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10FjN6_aBbhYpSMzHsE1hjHvM6m1XDeOdQxc3NJSVneA/edit#gid=683172409"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1088,
        224
      ],
      "id": "5b5776b1-1b1b-4d34-b0f5-b104f2f9bee3",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xUB2oRxwU4dzncLZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "26156f35-89c5-4d04-8dd7-8428d74abe2d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f34004903e0a852a72d3ae9870522caf62f2e35f84e3d89a1aa21b9e221c8fff"
  },
  "id": "Ml3VjxeyXvvdX4hQ",
  "tags": []
}